# Dependencies
/node_modules
/.pnpm
.pnpm-lock.yaml
/pnpm-lock.yaml

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Log files
*.log

# Local data
study_log.db
db_backups/
db_redo_backups/
db_long_term_backups/
webnew/mnt/

# Python cache
*.pyc

# Temporary files
temp_*.py
